body{        
  padding-top: 60px;
  padding-bottom: 40px;
  background-image: url('bg--s3://hostwebsiteaurora/backgroundimage1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  color: white;
  
}
.fixed-header, .fixed-footer{
  width: 100%;
  position: fixed;        
  background: #333;
  padding: 10px 0;
  color: #fff;
}
.fixed-header{
  top: 0;
}
.fixed-footer{
  bottom: 0;
}
.container{
  width: 80%;
  margin: 0 auto; /* Center the DIV horizontally */
}
nav a{
  color: #fff;
  text-decoration: none;
  padding: 17px 25px;
  display: inline-block;
}